/* common style  */

html, body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bar {
    visibility: hidden;
}

/* header section  */

header {
    background: #2D25A0;
}

/* navigation  */

nav {
    padding-top: 42px;
    margin: 0px 100px 49px 100px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    padding-right: 36px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.login {}

.login a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: #E02C6D;
    padding: 10px 24px;
}

/* top banner   */

.top-banner {
    display: flex;
    align-items: center;
    margin: 0px 100px 49px 100px;
    padding-bottom: 86px;
}

.banner-title {
    width: 50%;
}

.banner-title h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
}

.top-banner a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: #E02C6D;
    padding: 10px 24px;
}

.banner-image {
    width: 50%;
}

.banner-image img {
    width: 85%;
    position: relative;
    animation: sliding 2s ease-in-out .5s infinite alternate;
    animation-play-state: running;
}

/* banner image animaton  */

@keyframes sliding {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
    }
}

.banner-image img {}

/* main section */

/* players  */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    margin-top: 70px;
}

.player {
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.player-details h3 {
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}

.player-details p {
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}

.player-image {
    overflow: hidden;
    height: 256px;
}

.player-image img {
    width: 100%;
}

.player-image:hover img {
    transform: scale(1.2);
    transition: transform 1s;
}

/* highlight */

.highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 165px;
    width: 1140px;
}

.highlight-details {}

.highlight-details h1 {
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
}

.highlight-details p {
    width: 404px;
    height: 113px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}

.highlight-details a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: #E02C6D;
    padding: 10px 24px;
    margin-top: 24px;
}

.highlights img {
    width: 100%;
}

/* video  */

.video-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    margin-top: 70px;
}

.video-card {
    width: 560px;
    height: 435px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.video-details h3 {
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}

.video-details p {
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}

.video-image {
    overflow: hidden;
    height: 300px;
}

.video-image img {
    width: 100%;
}

.fa-star.fill {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

/* sign up  */

.sign-up {
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
    margin-top: 75px;
}

.signup-title {
    text-align: center;
    padding: 50px 0px;
}

.signup-title h1 {
    font-size: 36px;
    font-weight: 700;
    color: #676767;
}

.form {
    width: 500px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 50px;
    text-align: center;
}

.form h3 {
    font-size: 18px;
    font-weight: 600;
    color: #E02C6D;
    padding: 10px 0px;
}

.form-name-email {
    margin-bottom: 25px;
}

.form-btn {
    padding: 25px;
    text-align: center;
    margin-top: 35px;
}

.form-btn a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: #E02C6D;
    padding: 10px 24px;
    margin-top: 24px;
}

#name {
    width: 500px;
    height: 50px;
    border: 1px solid #E02C6D;
    outline: none;
}

#email {
    width: 500px;
    height: 50px;
    border: 1px solid #E02C6D;
    outline: none;
}

#password {
    width: 500px;
    height: 50px;
    border: 1px solid #E02C6D;
    outline: none;
}

#re-password {
    width: 500px;
    height: 50px;
    border: 1px solid #E02C6D;
    outline: none;
}

/* footer  */

footer {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}

.logo img {
    width: 483.87px;
    height: 110px
}

.social-icon a {
    /* background-color: rgba(42, 1, 1, 0.103); */
    padding: 7.5px;
    height: 32px;
    width: 32px;
    /* border-radius: 100px; */
    margin: 07px;
}

.social-icon i {
    color: #969BAB;
}

/* responsive media queries  */

@media only screen and (max-width:688px) {
    header {
        width: 100%;
    }
    .bar {
        visibility: visible;
    }
    .bar a i {
        color: white;
        font-size: 24px;
    }
    nav {
        margin: 0px 25px 0px 25px;
    }
    nav ul li {
        display: none;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    .login {
        background: #E02C6D;
        padding: 10px 24px;
    }
    .login a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    .top-banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 50px;
    }
    .banner-title {
        padding-bottom: 70px;
        width: 100%;
    }
    .banner-title h1 {
        font-size: 3.5rem;
    }
    .banner-image {
        width: 90%;
    }
    /* main section */
    /* players  */
    .players {
        grid-template-columns: repeat(1, 1fr);
    }
    .player {
        width: 100%;
        height: 550px;
        margin-top: 30px;
    }
    .player-image {
        overflow: hidden;
        height: 340px;
    }
    /* highlights */
    .highlights {
        display: block;
        width: 100%;
    }
    .highlight-details {
        margin-left: 0px;
    }
    .highlight-banner {
        text-align: center;
        margin-top: 0px;
       
    }
    iframe {

        width: 100%;
    }

    /* video */
    .video-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    .video-card{
        width: 100%;
        height: 95%;
    }
    .video-image{
        width: 100%;
    }
    .video-image iframe{
        width: 100%;
    }

    /* contact us  */
    
    .form{
        width: 100%;
    }
    
    #name {
        width: 100%;
        border: 1px solid #E02C6D;
        outline: none;
        
    }
    
    #email {
        width: 100%;
        border: 1px solid #E02C6D;
        outline: none;
    }
    
    #password {
        width: 100%;
        border: 1px solid #E02C6D;
        outline: none;
    }
    
    #re-password {
        width: 100%;
        border: 1px solid #E02C6D;
        outline: none;
    }
    /* footer  */
    footer {
        width: 100%;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
}

/* tab  */

@media only screen and (min-width:689px) and (max-width:992px) {
    header {
        width: 100%;
    }
    .bar {
        visibility: visible;
    }
    .bar a i {
        color: white;
        font-size: 24px;
    }
    nav {
        margin: 0px 25px 0px 25px;
    }
    nav ul li {
        display: none;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    .login {
        background: #E02C6D;
        padding: 10px 24px;
    }
    .login a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    .top-banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 50px;
    }
    .banner-title {
        padding-bottom: 70px;
        width: 100%;
    }
    .banner-title h1 {
        font-size: 56px;
    }
    .banner-image {
        width: 100%;
    }
    /* players  */
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
    .player {
        width : 100%;
        margin-top: 30px;
    }
    .player-image {
        overflow: hidden;
        height: 340px;
    }
    /* highlights */
    .highlights {
        display: block;
        width: 100%;
    }
    .highlight-details {
        margin-left: 50px;
    }
    .highlight-banner {
        text-align: center;
        margin-top: 30px;
    }
      /* video */
      .video-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    .video-card{
        width: 100%;
        height: 95%;
    }
    .video-image{
        width: 100%;
    }
    .video-image iframe{
        width: 100%;
    }
      /* footer  */
      footer {
        width: 100%;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }



    
}